@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'KakaoLight';
  font-weight: 500;
  font-style: normal;
  font-display: block;
  src: url('/fonts/KakaoRegular.ttf') format('truetype');
  src: url('/fonts/KakaoOTFRegular.otf') format('opentype');
}

@font-face {
  font-family: 'KakaoBold';
  font-weight: 700;
  font-style: bold;
  font-display: block;
  src: url('/fonts/KakaoBold.ttf') format('truetype');
  src: url('/fonts/KakaoOTFBold.otf') format('opentype');
}

html, body {
  margin: 0px;
  padding: 0px;
  border: 0px;
  font-family: KakaoLight, 'Malgun Gothic'; 
  color:#222; 
  font-size: 18px;
  background-color: #FFF;
}

header .sideMenu {
  position: relative;
  box-sizing: border-box;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    border: 1px solid transparent;
    border-radius: 6px;
    margin: 0px;
    font-family: "KakaoBig Bold";
    line-height: 1.5;
    letter-spacing: -0.1px;
    text-decoration: none;
    color: rgb(255, 255, 255);
    background-color: transparent;
    cursor: pointer;
    height: auto;
    padding: 8px;
    font-size: 12px;
}

header .search {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  height: 55px;
  padding-left: 11px;
  padding-right: 21px;
}

header section {
  align-items: center;
}

@media only screen and (max-width: 1120px) {
  header section {
    align-items: stretch !important;
  }
}

@media only screen and (max-width: 767px) {
  header {
    min-height: 92px;
    top: -56px;
  }

  header .sideMenu {
    order: -1;
    height: 55px;
    padding-left: 20px;
    padding-right: 10px;
  }

    header section {
    flex-wrap: wrap;
    width: 100% !important;
    height: 36px !important;
  }

  header section h1 {
    height: 55px !important;
  }

  header section h1 a {
    position: absolute;
    left: 50%;
    top: 0px;
    width: 103px;
    height: 55px !important;
    transform: translateX(-50%);
  }

  header section nav {
    justify-content: center;
    order: 2;
    box-sizing: border-box;
    width: 100%;
    height: 36px;
    transition: height 0.2s ease 0s;
  }

  header section nav > ul#menu {
    overflow-x: auto;
    justify-content: space-between;
    flex-wrap: nowrap;
    width: 100%;
    padding: 0px 20px;
    white-space: nowrap;
  }

  header section .util {
    display: none !important;
  }

  .sidebar {
    flex-direction: row-reverse !important;
  }

  .sticky {
    top: -55px !important;
  }

  #card-wrapper {
    overflow: hidden;
    width: 100%;
    padding: 0px 20px 20px;
    flex-direction: column;
    box-sizing: border-box;
  }

  #card-header-wrapper {
    overflow: hidden;
  }
}

@media only screen and (min-width: 768px) {
  header section nav {
    justify-content: center;
    flex: 1 0 auto;
    height: 100%;
  }

  header section nav ul li {
    margin: 0px 11px;
  }

  header .search {
    height: auto;
    margin: 0px 11px 0px 19px;
    padding: 8px;
  }

  #card-wrapper {
    width: 1120px;
    margin-top: 32px;
    padding: 0px 20px 20px;
    justify-content: space-between;
  }

  #card-header-wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-end;
    width: 1120px;
    padding-top: 49px;
  }
}

.sidebar {
  z-index: 300;
  visibility: visible;
  width: 100%;
  height: 100%;
  margin: 0px;
  opacity: 1;
  clip: auto;
  clip-path: none;
  overflow: hidden;
  position: fixed;
  inset: 0px;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

.split::before {
  content: "";
  display: block;
  position: absolute;
  left: 0px;
  top: 50%;
  width: 1px;
  height: 14px;
  margin-top: -7px;
  background-color: rgb(229, 229, 229);
}


.sticky {
  top: 0px;
  height: 50px;
  left: 0px;
  right: 0px;
  z-index: 200;
  box-sizing: border-box;
  background-color: rgb(255, 255, 255);
  position: sticky;
}