footer ul.info li:not(:last-child)::after {
    display: block;
    content: "";
    margin-left: 7px;
    margin-right: 7px;
    width: 2px;
    height: 2px;
    border-radius: 100%;
    background-color: rgb(68, 68, 68);
}